@import "styles/_variable.scss";
.commonButton {
  display: inline-block;
  width: 90%;
  padding:15px 20px;
  border: 1px solid #7511ff;
  border-radius: 5px;
  background: $MAIN_BUTTON_COLOR;
  color: #fff;
}

.textField {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  label {
    width: 20%;
    font-size:20px;
    font-weight:bold;
  }
  input {
    width: 70%;
    padding: 15px 6px;
    border: 1px solid #d4d4d8;
    border-radius: 6px;
    background: #ffffff;
    font-size: 18px
  }
}
.errMsg {
  font-size: 12px;
  color: red;
}
